
<div class="row">

  <div class="col-md-6">
  <h2>Your performance</h2>
  <h4>Tasks Done Today: <%= @done_today %></h4>
  <h4>Tasks Done This Week: <%= @done_this_week %> </h4>

  </div>
  <div class="col-md-6">
  <h2>Your graph</h2>
  <canvas id="canvas" width="450px"></canvas>
  </div>
</div>


<script>
  jQuery(function() {
    var data, myNewChart;
    data = {
      labels: ["6 Days Ago", "5 Days Ago", "4 Days Ago", "3 Days Ago", "2 Days Ago", "1 Day Ago", "Today"],
      datasets: [
      {
        fillColor: "rgba(220,220,220,0.5)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        data: [<%= @six_days_ago %>, <%= @five_days_ago %>, <%= @four_days_ago %>, <%= @three_days_ago %>, <%= @two_days_ago %>, <%=@one_day_ago %>, <%= @done_today %> ]
      }
      ]
    };
    return myNewChart = new Chart($("#canvas").get(0).getContext("2d")).Line(data);
  });

</script>